@charset "UTF-8";
body {
  background-color: #fcf8ca;
}
.merit1{
    font-size: 50px;
    text-align: center;
}
.merit2{
    text-align: center;
}
p {
  font-size: 20px;
}
.item{
  text-align: center;
  justify-content: center;
}
